html,body{padding: 0;margin: 0;width: 100%;height: 100%;}
div,p,span,h1,h2,h3,a,ul,ol,li,table,th,td,img,form,input,select,textarea{padding: 0;margin: 0;}
.pad_t_b_0_5{padding: 0.5rem 0;}
.bor_top {
  border-top: 0.5rem solid brown;
}
.bor_bottom {
  border-bottom: 0.5rem solid brown;
}
.m_t_b_5{margin: .5rem 0;}
.col_b{color: #bbb;}
.mt_10{margin-top: 1rem;}
.bg_c{background: brown;}
.col_b{color: brown;}
.pad_w_94{padding: 0 3%;width: 94%;}
// 表单
.van-cell-group{border: none;margin-bottom: 44px;}
.f_group{
	width: 100%;
	span{display: block;width: 94%;padding: .5rem 3%;font-size: .9rem;}
	.van-field{background: #f2f2f2;width: 94%;margin-left: 3%;padding-left: 2%;border-radius: 3px}
	}
.r_l_two > div > span:first-child{width: 44%}
.r_l_two > div > span:last-child{width: 50%;padding: 0.5rem 0;}
.r_l_two > div > .van-uploader{width: 50%;}

/*弹性盒子布局*/
.flex{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
}
/*x轴对齐方式*/
.flex_x_e{
	justify-content: flex-end;
	-webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
/*横向排列*/
.flex_f_r{
	-webkit-flex-direction: row;
  	-moz-flex-direction: row;
  	-ms-flex-direction: row;
  	-o-flex-direction: row;
  	flex-direction: row;
}
/*纵向排列*/
.flex_f_c{
	-webkit-flex-direction: column;
  	-moz-flex-direction: column;
  	-ms-flex-direction: column;
  	-o-flex-direction: column;
 	flex-direction: column;
}
/*y轴对齐方式*/
.flex_y_e{
	align-items: flex-end;
	-webkit-box-align: end;
  	-moz-align-items: flex-end;
  	-webkit-align-items: flex-end;
}

/*两端对齐*/
.flex_b{
	justify-content: space-between;
	-webkit-box-pack: justify;
  	-moz-justify-content: space-between;
  	-webkit-justify-content: space-between;
}
.flex_b_w{
	justify-content: space-between;
	-webkit-box-pack: justify;
  	-moz-justify-content: space-between;
  	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

/*父元素宽度左右等间距均分相关*/
.flex_a{
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.flex_a_w{
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}


/*居中*/
.flex_a_c{
	justify-content: space-around;
	align-items: center;
	-webkit-box-align: center;
  	-moz-align-items: center;
  	-webkit-align-items: center;
}
.flex_b_c{
	justify-content: space-between;
	-webkit-box-pack: justify;
  	-moz-justify-content: space-between;
  	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-box-align: center;
  	-moz-align-items: center;
  	-webkit-align-items: center;
}
.flex_x_c{
	justify-content: center;
	-webkit-box-pack: center;
  	-moz-justify-content: center;
  	-webkit-justify-content: center;
}
.flex_y_c{
	align-items: center;
	-webkit-box-align: center;
  	-moz-align-items: center;
  	-webkit-align-items: center;
}
.flex_c_c{
	justify-content: center;
	-webkit-box-pack: center;
  	-moz-justify-content: center;
  	-webkit-justify-content: center;
	align-items: center;
	-webkit-box-align: center;
  	-moz-align-items: center;
  	-webkit-align-items: center;
}

.box_sizing{
	-moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}